body{
    background-color: #e5e5e5;
}

.targetA{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    margin: 40px auto;
    background: #fcad33;
    box-shadow: #4f4f4f 10px 10px 0px 0px;
}
.targetB{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    margin: 40px auto;
    background: #fcad33;
    box-shadow: #4f4f4f 10px 10px 5px 5px;
}
.targetC{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    margin: 40px auto;
    background: #fcad33;
    box-shadow: #4f4f4f 10px 10px 4px 5px;
}
.targetD{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    margin: 40px auto;
    background: #fcad33;
    box-shadow: #a2a2a2 10px 10px 3px 3px;
}
.targetE{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    margin: 40px auto;
    background: #fcad33;
    border-radius: 4px;
    box-shadow: #4f4f4f 14px 14px 5px 0px;
}
.targetF{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    margin: 40px auto;
    background: #fcad33;
    border-radius: 4px;
    box-shadow: #a2a2a2 14px 14px 5px 0px;
}
