.pic{
    height: 400px;
}

.top1,.top2{
    width: 700px;

}

.button {
    background-color: #3a6cb8;
    border-radius: 500px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}