.general{
    width: 1440px;
    height: 5000px;
    margin: 0 auto;
}

.header, .nav_menu, .nav_btns, .two_btns, .informs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 22px;
}

.login{
    width: 96px;
    height: 52px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tte{
    width: 189px;
    height: 52px;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn2{
    width: 159px;
    height: 61px;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}

.info{
    width: 476px;
    height: 92px;
}